<footer *ngIf="usuarioService.logueado">
  <ion-tabs>
    <!--Menu inferior-->
    <ion-tab-bar slot="bottom">


      <!--Gestion clientes-->
      <ion-tab-button tab="consulta-cliente">
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>

      <!--Gestion animales-->
      <ion-tab-button tab="consulta-animal">
        <ion-icon name="paw"></ion-icon>
      </ion-tab-button>

      <!--ventas-->
      <ion-tab-button tab="consulta-venta">
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>

      <!--Contro fitosanitario-->
      <ion-tab-button tab="consulta/todos">
        <ion-icon name="heart-circle"></ion-icon>
      </ion-tab-button>

      <!--Productos-->
      <ion-tab-button tab="consulta-producto">
        <ion-icon name="bag"></ion-icon>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
</footer>
