<app-header-modal titulo="Editar" ruta="/consulta-producto">
</app-header-modal>

<ion-content class="ion-paddin">

  <ion-list>
    <form [formGroup]="formGroup">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <h3>Registro Producto</h3>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Nombre <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input type="text" name="nombre" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.nombre.errors?.required && (formGroup.controls.nombre.touched || formGroup.controls.nombre.dirty)">* El nombre es requerido </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Precio <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input type="number"  name="precio" formControlName="precio"></ion-input>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.precio.errors?.required && (formGroup.controls.precio.touched || formGroup.controls.precio.dirty)">* El precio es requerido </ion-label>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label>Categoria</ion-label>
              <ion-select name="categoria" formControlName="categoria" interface="popover">
                <ion-select-option value="lacteos">lacteos</ion-select-option>
                <ion-select-option value="otro">otro</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.categoria.errors?.required && (formGroup.controls.categoria.touched || formGroup.controls.categoria.dirty)">* La categoria es requerida </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Descripcion <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-textarea name="descripcion" formControlName="descripcion"></ion-textarea>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.descripcion.errors?.required && (formGroup.controls.descripcion.touched || formGroup.controls.descripcion.dirty)">* La descripcion es requerida </ion-label>
          </ion-col>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-button id="boton" size=" undefined" (click)="onSubmit()" [disabled]="formGroup.invalid" class="shadow-red" shape="round">Editar</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>


    </form>
  </ion-list>


</ion-content>