<app-header-modal titulo="Registro" ruta="/consulta">
</app-header-modal>

<ion-content class="ion-paddin">

  <ion-list>
    <form >
      <ion-grid  >
        <ion-row  class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <h3>Registro Fitosanitario</h3>
          </ion-col>
        </ion-row>
        <ion-row  class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label  position="floating" >Nombre medicamento <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input  type="text"name="nombreMedicamento"  ></ion-input>          
            </ion-item>
      
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Dosis aplicada <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input type="text" name="dosisAplicada" ></ion-input>
            </ion-item>
           
          </ion-col>
        </ion-row>

        <ion-row  class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Tiempo de retiro <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input type="text" name="tiempoRetiro" ></ion-input>
            </ion-item>
           
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Tipo medicamento <ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input name="tipoMedicamento"  type="text"></ion-input>
            </ion-item>
          
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Animal tratado<ion-text color="danger"></ion-text>
              </ion-label>
              <ion-input name="animalTratado"  type="text"></ion-input>
            </ion-item>
           
            
          </ion-col>
          <br>
          <br>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label>fecha nacimiento</ion-label>
              <ion-datetime name="fechaNacimienti" display-format="D  MMMM YY" (ionChange)="cambioFecha($event)">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <br>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-button  size=" undefined" class="shadow-red" shape="round">Registrar</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>

     
    </form>
  </ion-list>


</ion-content>