<app-header-modal titulo="Editar" ruta="/consulta-cliente">
</app-header-modal>

<ion-content class="ion-paddin">

  <ion-list>
    <form [formGroup]="formGroup">
      <ion-grid  >
        <ion-row  class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <h3>Editar Clientes</h3>
          </ion-col>
        </ion-row>
        <ion-row  class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label  position="floating" >Identificacion <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input readonly type="text"name="identificacion" formControlName="identificacion" ></ion-input>          
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.identificacion.errors?.required && (formGroup.controls.identificacion.touched || formGroup.controls.identificacion.dirty)">* La identificacion es obligatoria </ion-label>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.identificacion.errors?.minlength && (formGroup.controls.identificacion.touched || formGroup.controls.identificacion.dirty)">* La identificacion debe contener 6 caracteres o mas </ion-label>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Nombres <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" name="nombres" formControlName="nombres"></ion-input>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.nombres.errors?.required && (formGroup.controls.nombres.touched || formGroup.controls.nombres.dirty)">* El nombre es obligatorio </ion-label>
          </ion-col>
        </ion-row>

        <ion-row  class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Apellidos <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" name="apellidos" formControlName="apellidos"></ion-input>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.apellidos.errors?.required && (formGroup.controls.apellidos.touched || formGroup.controls.apellidos.dirty)">* El apellido es obligatorio </ion-label>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Telefono <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input name="telefono" formControlName="telefono" type="tel"></ion-input>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.telefono.errors?.required && (formGroup.controls.telefono.touched || formGroup.controls.telefono.dirty)">* El telefono es obligatorio </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item>
              <ion-label position="floating">Correo<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input name="correo" formControlName="correo" type="email"></ion-input>
            </ion-item>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.correo.errors?.required && (formGroup.controls.correo.touched || formGroup.controls.correo.dirty)">* El correo es obligatorio </ion-label>
            <ion-label class="ion-text-left" color="danger" *ngIf="formGroup.controls.correo.errors?.email && (formGroup.controls.correo.touched || formGroup.controls.correo.dirty)">* El correo no es valido </ion-label>
            
          </ion-col>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-button id="boton" (click)="onSubmit()" [disabled]="formGroup.invalid" size=" undefined" class="shadow-red" shape="round">Registrar</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>

     
    </form>
  </ion-list>

</ion-content>
