<app-header titulo="Gestion Cliente"> </app-header>


<ion-content>

  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar [(ngModel)]="textoABuscar" showCancelButton="focus"></ion-searchbar>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Tire para actualizar "
        refreshingSpinner="circles"
        refreshingText="Actulizando...">
      </ion-refresher-content>
    </ion-refresher>

  <ion-list>
    <ion-grid fixed>
      <ion-row *ngIf='clientes && clientes.length' class="ion-justify-content-center ion-text-center">
        <ion-col size="12" size-md="12" size-lg="12">
          <ion-item (click)="opciones(cliente)" *ngFor="let cliente of clientes|filtroClientes:textoABuscar; index as i">
            <ion-avatar slot="start">
              <ion-text color="primary">
                <ngx-avatar  [name]="cliente.nombres" value="28%" bgColor="#2650D3" fgColor="#FFFFFF" size="40"
                textSizeRatio="2.5" [round]="true"></ngx-avatar>
              </ion-text>
            </ion-avatar>
            <ion-label>
              <h3 class="negrita">{{ cliente.nombres}} {{cliente.apellidos}}</h3>
              <h4>{{cliente.identificacion}}</h4>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf='clientes && clientes.length===0' class="ion-justify-content-center ion-text-center">
        <ion-col size="12" size-md="12" size-lg="12">
          <ion-label color="medium">Aun no tienes ningun cliente :(</ion-label><br><br>
          <ion-label color="medium">Puedes registrar precionando el boton que se encuentra en la parte inferior derecha</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/registro-cliente">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
