<app-header-modal titulo="Facturación" ruta="/consulta-venta">
</app-header-modal>


<ion-content>
  <ion-list>
    <ion-grid fixed>
      <!--<ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-label >Factura de venta</ion-label>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-label >Villa Noris</ion-label>
        </ion-col>
        
        <br>
      </ion-row>-->
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col>
          <ion-label class="text">Fecha :{{factura1.fecha}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="texto">No :{{factura1.idFactura}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Idetificacion</ion-label>
            <ion-input type="text" name="idetificacion"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Nombre </ion-label>
            <ion-input type="text" name="nombre"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="12" size-md="6" size-lg="4">

          <ion-card mode="ios">
            <ion-item mode="ios" detail="false">
              <ion-card-subtitle>Detalle de factura</ion-card-subtitle>
              <ion-button (click)="presentModal()" slot="end">
                <ion-icon name="bag-add"></ion-icon>
              </ion-button>
            </ion-item>
            

            <!-- <ion-card-content>
              <ion-list>
                <ion-grid fixed>
                  <ion-row class="ion-justify-content-center ion-text-center">
                    <ion-col size="12" size-md="12" size-lg="12">
                      <ion-list>
                        <ion-item-sliding *ngFor="let producto of productos  ; let i = index;">
                          <ion-item (click)="opciones(producto)">
                            <ion-icon slot="end" name="add"></ion-icon>
                            <ion-icon slot="end" name="remove"></ion-icon>
                            <ion-label>
                              <h4 class="negrita">{{producto.descripcion}}</h4>
                              <h4 class="negrita">Precio:{{producto.precio}}</h4>
                              <h4 class="negrita">Cantidad:1</h4>
                            </ion-label>
                          </ion-item>
                        </ion-item-sliding>
                      </ion-list>

                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-justify-content-center ion-text-center">
                    <ion-col size="12">
                      <ion-button class="text" (click)="onClick()" expand="block" fill="clear" shape="round">
                        Agregar
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-list>
            </ion-card-content>-->
          </ion-card>


        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="text">Descuento: ${{factura1.descuento}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="text">Total: ${{factura1.total}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>