@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

ion-card{
    box-shadow: 2px 2px 10px --ion-color-light;
    border-radius: 20px;

}
ion-img{
    width:100px;
    margin-left:80px;

}
.ion-padding{
    margin-top: 25%;

}

.tituloLogo
{

  font-family: 'Dancing Script', cursive;
  font-size: 27px;
  color: #009400;

}
