<ion-content class="ion-padding">
  <form >
    <ion-grid  fixed>
      <ion-row class="ion-justify-content-center ">
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="ion-padding">

            <ion-img class="ion-justify-content-center " src="assets/key.svg">
            </ion-img>
            <br>
            <br>
            <ion-item >
              <ion-label floating>
                <ion-icon color="secondary" name="person" item-start class="text-primary"></ion-icon>
              </ion-label>
              <ion-input name="nombreUsuario" [(ngModel)]="usuario.nombreUsuario" type="text" placeholder="Usuario"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label floating>
                <ion-icon color="secondary" name="key" item-start class="text-primary"></ion-icon>
              </ion-label>
              <ion-input name="clave" [(ngModel)]="usuario.clave" class="padding-bottom" type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-item lines="none" class="ion-justify-content-center ion-text-center">
              <ion-col  size="12" size-md="6" size-lg="4">
                <ion-button size="undefined" (cambiarEstado)="estado()" (click)="redireccion()" class="shadow-red" shape="round">Iniciar sesión</ion-button>
              </ion-col>
            </ion-item>

          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center">

      </ion-row>

    </ion-grid>
  </form>


</ion-content>
