.item {
    font-size:15px !important;
}
.alinear{
margin-left: -20px !important;
margin-top: -4px !important;
border:none !important;
background-color: brown;
}

.INPUT{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 20px;
}
.INPUT:focus{
outline: none;
}