<ion-content>
  <ion-searchbar showCancelButton="focus" placeholder="Buscar producto"></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Tire para actualizar "
      refreshingSpinner="circles"
      refreshingText="Actulizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="12" size-md="12" size-lg="12">
          <ion-list>

            <ion-item [color]="producto.color" ng-click="focusInput=true" mode="ios" *ngFor="let producto of productosTemp; let i = index;">

              <ion-label class="item">
                <h3 class="item" class="negrita">{{producto.nombre}}</h3>
                <h4 class="item">Precio: ${{producto.precio}}</h4>
                <h4 class="item">Cantidad: {{producto.cantidad}}</h4>
                            
              </ion-label>
              <ion-icon slot="end" (click)="agregar(producto)" *ngIf="producto.agregado===false" name="add"></ion-icon>
              <ion-icon slot="end" (click)="quitar(producto)" *ngIf="producto.agregado===true" color="danger" name="remove-outline"></ion-icon>
            </ion-item>

          </ion-list>

        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-list>
</ion-content>

<ion-footer translucent>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button (click)="Mensaje()">
        <ion-icon name="arrow-back"></ion-icon>
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="confirmarProductos()">Confirmar productos</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>